// from EMF 2024
//$pale-green: #afc944;
//$mid-green: #528329;
//$dark-green: #213018;
$yellow: #f9e200;
$orange: #f77f02;
$coral: #f5515e;
$green: #2ae28c;
$light-blue: #2eadd9;
$mid-blue: #005d96;
$dark-blue: #000730;

$colour-action: $orange;
$colour-modal: $dark-blue;

$colour-volunteer: ($light-blue $mid-blue);
$colour-orga: ($orange $coral);
$colour-other: ($yellow $orange);
