@import "reset";

html {
  font-size: 10px;
}

body {
  background-color: #213018;
  background-image: url("./background-tiled.png");
  background-repeat: repeat;
  background-size: 300px;

  color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;

  padding: 2rem;
}

button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
